// 颜色定义规范
$color-background: #F5F5F5;
$color-background-d: #fff;
$color-white-bg: #fff;
$color-highlight-background: #F7F7F7;
$color-dialog-background: #666;
$color-theme: #0E8EF1;
$color-theme-d: rgba(255, 205, 49, 0.5);
$color-sub-theme: #d93f30;
$color-text: #333;
$color-text-d: #999;
$color-text-l: #a3a3a3;
$color-text-ll: #fff;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// 头部
$head-bg-color: #fff;

// 边框
$border-color: #F5F5F5;
